gallery {
	display:block;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000000AA;
}
body {
	background: #121214;
	color: white;
	font-family: monospace;
}
.flex {
	height: calc(100vh - 2em);
	width: 100vw;
	display: flex;
}
.controls {
	width: calc(100% - 150px);
	height: 2em;
	display: flex;
	line-height: 2em;
	justify-content: flex-end;
}
.controls span {
	background: #343436;
	text-align: center;
}
.controls .mini {
	margin-left: 1vw;
	flex: 0 0 auto;
	min-width: 2em;
}

.controls span:first-child {
	flex: 1 1 auto;
}
.left,
.right {
	display: flex;
	justify-content: center;
	align-items: center;
}
.left {
	flex: 1 1 auto;
}
.right {
	flex: 0 0 150px;
	flex-direction: column;
	overflow:auto;
}
.right-inside {
	transition: all 200ms ease;
	max-height:50px;
	padding:3px;
	box-shadow:inset 0 0 0 1px transparent;
}
.right-inside.highlight {
	box-shadow:inset 0 0 0 1px orangered;
}
.arrow-left,
.arrow-right {
	font-size: 2em;
	border: none;
	line-height: 1;
	background: none;
	width:1.5em;
	height:1.5em;
	color: white;
	padding:0;
	position:fixed;
}
.arrow-right {
	right:150px;
}
.arrow-left {
	left:0;
}
button:active,
button:focus {
	color: #ccc;
	outline: none;
}

.red {
	box-shadow: 0 0 0 5px red;
}
.left {
	border-right: 1px solid #343436;
	border-top: 1px solid #343436;
	overflow:auto;
}
.reverse-order .right {
	flex-direction: column-reverse;
}
.info {
	white-space: pre;
}
.main-img-wrap {
	background: black;
	border:1px solid #333;
	width:150px;
	height:150px;
	margin:auto 0;/* safe flex overflow */
}
.main-img {
	display:block;
}
.fit-width .main-img {
	top:50%;
	position:relative;
	transform:translateY(-50%);
	max-width:100%;
}
.fit-width .main-img-wrap {
	max-width:100%;
}