gallery
	div.controls
		span.wide.info Source URL
		span.mini
			button.jump-first X
		span.mini
			button.jump-last Y
		span.mini.sort-switch
			button Sort Reverse
	div.flex
		div.left
			button.left-inside.arrow-left ⇜
			div.main-img-wrap.left-inside
				img.main-img(src="http://via.placeholder.com/150x150/455A64/fff?text=?")
			button.left-inside.arrow-right ⇝
		div.right